# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Environment
.env
backend/.env
frontend/.env

# Chroma
backend/chroma_db/

# Uploads
backend/uploads/
backend/processed/

# Node
frontend/node_modules/

# OS
.DS_Store
Thumbs.db
*.lnk